@import 'emmet/css/base/index.css';
@import 'emmet/css/icon.css';

button {
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: var(--primary);
  color: var(--primary-text); 
  border-radius: 4px;
  height: 40px;
  transition: 200ms;
  user-select: none;
}

button:hover {
  filter: brightness(0.92); 
}

button:active {
  filter: brightness(0.84); 
  transition: 50ms;
}

button:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

.accent {
  background-color: var(--accent);
  color: var(--accent-text); 
}

.accent:focus {
  box-shadow: 0 0 0 2px var(--accent);
}

/*
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #070C17;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/
