input::placeholder {
  font-weight: 500;
  color: var(--t2);
}

input:hover {
  background: var(--hover);
}

input:active {
  transition: 50ms;
  background: var(--hover);
}

input:focus {
  box-shadow: 0 0 0 2px var(--brand);
  color: var(--t);
}