@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  border-radius: 50%;
  user-select: none; 
}

.outlined {
  font-family: 'Material Icons Outlined';
}

.two-tone {
  font-family: 'Material Icons Two Tone';
}

.round {
  font-family: 'Material Icons Round';
}

.sharp {
  font-family: 'Material Icons Sharp';
}
