/* List styling is not usually desired in navigation, but this also removes list-semantics for screen-readers (https://github.com/mozdevs/cssremedy/issues/15) 

nav ul {
  list-style: none;
}
*/


/* 
1. Add zero-width-space to prevent VoiceOver disable
2. Absolute position ensures no extra space
https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/


nav li:before {
  content: "\200B";
  position: absolute;
}
*/



/* 
1. Immediately jump any animation to the end point
2. Remove transitions & fixed background attachment
https://github.com/mozdevs/cssremedy/issues/11

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
*/


/* 
The default `normal` line-height is tightly spaced,
but takes font-metrics into account,
which is important for many fonts.
Looser spacing may improve readability in latin type,
but may cause problems in some scripts --
from cusrive/fantasy fonts to
[Javanese](https://jsbin.com/bezasax/1/edit?html,css,output),
[Persian](https://jsbin.com/qurecom/edit?html,css,output),
and CJK languages.
links:
- https://github.com/mozdevs/cssremedy/issues/7
- https://jsbin.com/bezasax/1/edit?html,css,output
- https://jsbin.com/qurecom/edit?html,css,output
todo: |
- Use `:lang(language-code)` selectors?
- Add typography remedies for other scripts & languages...
category: typography
*/