@keyframes unfold {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes animx {
  0% {
    overflow: hidden;
  }

  from {
    overflow: hidden;
    transform: scale(0.92);
    opacity: 0;
  } to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }

  100% {
    overflow: auto;
  }
}

.animate {
  animation: animx 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(200px) translateY(0);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
