/* Emmet.CSS / Extras / Scrollbar */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid var(--brand);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--brand), var(--surface));
  background: linear-gradient(180deg, var(--brand), var(--surface), var(--brand));
  background: linear-gradient(180deg, var(--active), var(--brand), var(--active));
  background: linear-gradient(180deg, var(--active) -24%, var(--brand), var(--active) 124%);
  border-top: 1px solid var(--brand);  
  border-bottom: 1px solid var(--brand);  
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
  transition: 200ms;
}

::-webkit-scrollbar-thumb:active {
  transition: 50ms;
}
