a {
  color: #fff;
  font-weight: 500;
}

a:hover { text-decoration: underline; }
.jsx-emmet-loading { visibility: hidden; }
.jsx-emmet-loaded { visibility: visible; }

input, textarea {
  outline-color: #00B294;
  width: 100%;
}